<div class="container" >
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header"><strong class="card-text"> <%= link_to promotion.name, promotion %></strong></div>
      <p class="card-text"><%= promotion.description %></p>
      <p>Código: <%= link_to promotion.code, promotion_path(promotion) %> </p>
      <p>Desconto: <%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %></p>
      <p>Quantidade de Cupons: <%= promotion.coupon_quantity %></p>
      <p>Expiração: <%= promotion.expiration_date.strftime('%d/%m/%Y') %></p>
  </div>
</div>
