<div class="container">
  <%= simple_form_for @promotion do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :code %>
    <%= f.input :discount_rate %>
    <%= f.input :expiration_date, :order => [:day, :month, :year] %>
    <%= f.input :coupon_quantity %>
    <%= f.association :product_categories, as: :check_boxes %>
    <%= f.button :submit, class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
  <% end %>
</div>